<%= form_for @student,  html: { class: 'form-horizontal', :id=>"your_form_id" }, remote: true do |s| %>
	<div class="fields">
		<p>
			<%= s.label :name %><br>
			<%= s.text_field :name %>
		</p>
		<p>
			<%= s.label :email %><br>
			<%= s.text_field :email %>
	  </p>
	 </div>
	<div class="action">
		<%= s.submit %>
	</div>
<%end%>

