
<table style="width:25%" border="2px">
  <tr>
    <th>Name</th>
    <th>Email</th> 
  </tr>
  <% @students.each do |s|%>
  <tr>
    <td><%= s.name %></td>
    <td><%= s.email %></td> 
   <td> <%= link_to 'Show',  stud_path(s.id) %> </td>
  </tr>
  <% end %>
</table>