<h1>Students List</h1>

<table style="width:25%" border="2px">
  <tr>
    <th>Name</th>
    <th>Email</th> 
  </tr>
  <% @students.each do |s|%>
  <tr>
    <td><%= s.name %></td>
    <td><%= s.email %></td> 
   <td> <%= link_to 'Show',  stud_path(s.id) %> </td>
  </tr>
  <% end %>
</table>
<p>
 <%= link_to 'Create new student', new_stud_path %> </br>
 <%= link_to 'See Groups', groups_path %> </br>
 <%= link_to 'Add Marks', new_mark_path %> 
</p>
