<h1>List of Groups</h1>
<% if @groups.blank? %>
		<p>No groups</p>
<% else %>
		<p>Current groups</p>
		<ul id = "groups" >
			<%@groups.each do |g| %>
				<li><%= g.name %></li>
				<%= link_to 'Show', group_path(g.id)%> 
			<%end%>
		</ul>
<% end %>
<%= link_to 'Add new group', new_group_path %> 