<h1>Add Group</h1>

<%= form_for @group do |g|%>
	<div class = "filed">
		<%= g.label :name %></br>
		<%= g.text_field :name %> 
	</div>
	<div class = "action">
	 <%= g.submit %>
	</div>
<%end%>

<%= link_to 'Back', groups_path %> 