<h1><%= @group.name %></h1>
<p>Add student to group</p>
<%= form_tag group_add_student_path (@group.id) do %>
	<%= collection_select(:stud, :id, Stud.all, :id, :name,  :prompt => true)%>
	<%= submit_tag %>
<% end %>
