<h1>Add Marks</h1>
<%= form_for @mark do |m| %>
 <div class = "field">
 	<%= m.label :marks %>
 	<%= m.text_field :marks%>
 </div>
 <div class ="dropdown">
  <p>
  Student
 	<%= m.collection_select(:stud_id, Stud.all, :id, :name )%>
  </p>
  <p>
  Subject
 	<%= m.collection_select(:subject_id, Subject.all, :id, :name )%>
 	</p>
 </div>
 	<div class = "action">
	 <%= m.submit %>
	</div>
<%end%>

