<h1>Weighted Average</h1>
<table style="width:25%" border="2px">
  <tr>
    <th>Name</th>
    <th>Weigthed Average</th> 
  </tr>
  <tr>
    <td><%= @student.name %></td>
    <td><%=  @avg %></td> 
  </tr>
</table>
<%= link_to 'Back', new_mark_path %>